* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

#map {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

#nav-button {
    padding: 5px 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
 }


#pano {
    width: 400px;
    height: 400px;
}

#nav-button div {
    width: 32px;
    height: 3px;
    margin: 7px 0;
    background-color: black;
}

#nav-button:hover {
    cursor: pointer;
}

#nav-button:hover div {
    background-color: #9e9e9e;
}

#nav-panel {
    opacity: 0.6;
    display: none;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background: black;
    z-index: 2;
}

#nav-panel li {
    padding: 10px;
    text-decoration: none;
    color: white;
}

#nav-panel li:nth-child(n+3):hover {
    background: #9E9E9E;
    cursor: pointer;
}

#nav-panel li:first-child {
    background: green;
}

#nav-panel li:first-child:hover {
    background: #8bc34a;
    cursor: pointer;
}

input {
    height: 36px;
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-color: #a8acbc #babdcc #c0c3d2;
}

#search-box input:focus {
    outline: 0;
}

button {
    height: 36px;
    border: none;
    color: white;
    padding: 10px;
    background-color: green;
}

button:hover {
    cursor: pointer;
    background-color: #8bc34a;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
